.imgSize{
    text-align:center;
    display: inline-block;
    margin:10px;
}
.imgSizeimg{
    max-height:250px;
    width:auto;
    max-width: 220px;
    display: inline-block;
}
.marginTB15{
    margin:15px 0
}
.textLeft{
    text-align: left;
}
